BUY NOW!

%script{:async => "async", "data-amount" => "10", "data-button" => "buynow", "data-callback" => "#{@host}/transactions/#{@diagnostic.id}/paid", "data-currency" => "GBP", "data-env" => "sandbox", "data-name" => "Diagnostic Results", "data-shipping" => "0", "data-tax" => "0", :src => "https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=molemayer@gmail.com"}

%script
  $(window).bind("load", function() {
  $('#paypal-button').remove();
  $('.paypal-button:last').removeClass("paypal-button").removeClass("large").addClass("btn")
  });
