%p#notice=notice
%p
  %h2.head
    =@diagnostic.name
%p
  %h5.head
    =@diagnostic.description
%table.table
  %thead
    %th Segments
  
  -@diagnostic.segments.each do |seg|   
    %tr.section{ :'data-animation' => :true, :'data-trigger' => :hover, :'data-html' => :true, :'data-title' => "Percent Complete", :'data-content' => "#{percent_completed(@completed[seg.id], @sums[seg.id])}%"}
      %td=link_to seg.name, segment_questions_path(seg), :remote => true
  %tbody

%div.well#questions
  click on segment
  
  
=link_to "Back to all diagnostics", diagnostics_path