%p#notice=notice
.row
  %h2.head
    =@diagnostic.name
.row.head
  %h4
    =@diagnostic.description
%table.table
  %thead
    %th Segments
  -@diagnostic.segments.each do |segment|
    %tr.section
      %td=link_to segment.name, segment_questions_path(segment), :remote => true
  %tbody

%div.well
  click on segment