.grey-background
  .container
    .span12
      %h2.page-header Archimedes Training diagnostic tool
    .span6
      %p.home-text Welcome to the Archimedes Training diagnostic tool. This is a tool designed to test your ability to in all fields and to help you know what you need to improve on.
      -if !user_signed_in?
        = link_to "Sign in for free", login_path, class: "btn btn-primary"
      
    .span5
      =image_tag "laptop_medium.png"
.container.margin-top
  - @diagnostics.each do |dia|
    .span12.well.section
      .span2
        =image_tag "wheel_small.png"
      .span8
        %h4= link_to dia.name, diagnostic_path(dia)
        = dia.description