<div class="grey-background">
  <div class="container">
    <div class="span12">
      <h2 class="page-header">Archimedes Training diagnostic tool</h2>
    </div>
  <div class=" span6">
    <h4>Welcome to the Archimedes Training diagnostic tool. This is a tool designed to test your ability to in all fields and to help you know what you need to improve on.</h4>
  </div>
  <div class="span5">Screen shot goes here</div>
    <div class=" span12">
      <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary" %> or
      <%= link_to "Log In with your account", new_user_session_path %>
    </div>
  </div>
</div>
<div class="container margin-top">
  <% @diagnostics.each do |dia| %>
    <div class="span12 well section">
      <div class="span2">
        picture goes here
      </div>
      <div class="span8">
        <h4><%= link_to dia.name, diagnostic_path(dia)%></h4>
        <%= dia.description %>
      </div>
    </div>
  <% end %>
</div>