/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
prevents parsererrors rendering

parsererror > h3,
parsererror > div {
	display: none;
} */

/*========== Defaults ==========*/

.clear { clear: both; }
.hide { display: none; }
.block { display: block; }
.inline { display: inline; }
.relative { position: relative; }
.padding { padding: 10px; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

/*========== Margin/Padding Overrides ===========*/

/* MARGIN */

/* Margin top */
.mt-0, .mt0 { margin-top: 0px !important; }
.mt-1, .mt1 { margin-top: 10px !important; }
.mt-2, .mt2 { margin-top: 20px !important; }
.mt-3, .mt3 { margin-top: 30px !important; }
.mt-4, .mt4 { margin-top: 40px !important; }
.mt-5, .mt5 { margin-top: 50px !important; }
.mt-6, .mt6 { margin-top: 60px !important; }
.mt-7, .mt7 { margin-top: 70px !important; }
.mt-8, .mt8 { margin-top: 80px !important; }
.mt-9, .mt9 { margin-top: 90px !important; }
.mt-10, .mt10 { margin-top: 100px !important; }
/* Margin right */
.mr-0, .mr0 { margin-right: 0px !important; }
.mr-1, .mr1 { margin-right: 10px !important; }
.mr-2, .mr2 { margin-right: 20px !important; }
.mr-3, .mr3 { margin-right: 30px !important; }
.mr-4, .mr4 { margin-right: 40px !important; }
.mr-5, .mr5 { margin-right: 50px !important; }
.mr-6, .mr6 { margin-right: 60px !important; }
.mr-7, .mr7 { margin-right: 70px !important; }
.mr-8, .mr8 { margin-right: 80px !important; }
.mr-9, .mr9 { margin-right: 90px !important; }
.mr-10, .mr10 { margin-right: 100px !important; }
/* Margin bottom */
.mb-0, .mb0 { margin-bottom: 0px !important; }
.mb-1, .mb1 { margin-bottom: 10px !important; }
.mb-2, .mb2 { margin-bottom: 20px !important; }
.mb-3, .mb3 { margin-bottom: 30px !important; }
.mb-4, .mb4 { margin-bottom: 40px !important; }
.mb-5, .mb5 { margin-bottom: 50px !important; }
.mb-6, .mb6 { margin-bottom: 60px !important; }
.mb-7, .mb7 { margin-bottom: 70px !important; }
.mb-8, .mb8 { margin-bottom: 80px !important; }
.mb-9, .mb9 { margin-bottom: 90px !important; }
.mb-10, .mb10 { margin-bottom: 100px !important; }
/* Margin left */
.ml-0, .ml0 { margin-left: 0px !important; }
.ml-1, .ml1 { margin-left: 10px !important; }
.ml-2, .ml2 { margin-left: 20px !important; }
.ml-3, .ml3 { margin-left: 30px !important; }
.ml-4, .ml4 { margin-left: 40px !important; }
.ml-5, .ml5 { margin-left: 50px !important; }
.ml-6, .ml6 { margin-left: 60px !important; }
.ml-7, .ml7 { margin-left: 70px !important; }
.ml-8, .ml8 { margin-left: 80px !important; }
.ml-9, .ml9 { margin-left: 90px !important; }
.ml-10, .ml10 { margin-left: 100px !important; }

/* Margin Vertical */
.mv-0, .mv0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.mv-1, .mv1 { margin-top: 10px !important; margin-bottom: 10px !important; }
.mv-2, .mv2 { margin-top: 20px !important; margin-bottom: 20px !important; }
.mv-3, .mv3 { margin-top: 30px !important; margin-bottom: 30px !important; }
.mv-4, .mv4 { margin-top: 40px !important; margin-bottom: 40px !important; }
.mv-5, .mv5 { margin-top: 50px !important; margin-bottom: 50px !important; }
.mv-6, .mv6 { margin-top: 60px !important; margin-bottom: 60px !important; }
.mv-7, .mv7 { margin-top: 70px !important; margin-bottom: 70px !important; }
.mv-8, .mv8 { margin-top: 80px !important; margin-bottom: 80px !important; }
.mv-9, .mv9 { margin-top: 90px !important; margin-bottom: 90px !important; }
.mv-10, .mv10 {margin-top: 100px !important; margin-bottom: 100px !important; }
/* Margin Horizontal */
.mh-0, .mh0 { margin-left: 0px !important; margin-right: 0px !important; }
.mh-1, .mh1 { margin-left: 10px !important; margin-right: 10px !important; }
.mh-2, .mh2 { margin-left: 20px !important; margin-right: 20px !important; }
.mh-3, .mh3 { margin-left: 30px !important; margin-right: 30px !important; }
.mh-4, .mh4 { margin-left: 40px !important; margin-right: 40px !important; }
.mh-5, .mh5 { margin-left: 50px !important; margin-right: 50px !important; }
.mh-6, .mh6 { margin-left: 60px !important; margin-right: 60px !important; }
.mh-7, .mh7 { margin-left: 70px !important; margin-right: 70px !important; }
.mh-8, .mh8 { margin-left: 80px !important; margin-right: 80px !important; }
.mh-9, .mh9 { margin-left: 90px !important; margin-right: 90px !important; }
.mh-10, .mh10 { margin-left: 100px !important; margin-right: 100px !important; }

/* Margin */
.m0, .m-0 { margin: 0px !important; }
.m1, .m-1 { margin: 10px !important; }
.m2, .m-2 { margin: 20px !important; }
.m3, .m-3 { margin: 30px !important; }
.m4, .m-4 { margin: 40px !important; }
.m5, .m-5 { margin: 50px !important; }
.m6, .m-6 { margin: 60px !important; }
.m7, .m-7 { margin: 70px !important; }
.m8, .m-8 { margin: 80px !important; }
.m9, .m-9 { margin: 90px !important; }
.m10, .m-10 { margin: 100px !important; }

/* PADDING */

/* Padding top */
.pt-0, .pt0 { padding-top: 0px !important; }
.pt-1, .pt1 { padding-top: 10px !important; }
.pt-2, .pt2 { padding-top: 20px !important; }
.pt-3, .pt3 { padding-top: 30px !important; }
.pt-4, .pt4 { padding-top: 40px !important; }
.pt-5, .pt5 { padding-top: 50px !important; }
.pt-6, .pt6 { padding-top: 60px !important; }
.pt-7, .pt7 { padding-top: 70px !important; }
.pt-8, .pt8 { padding-top: 80px !important; }
.pt-9, .pt9 { padding-top: 90px !important; }
.pt-10, .pt10 { padding-top: 100px !important; }
/* Padding right */
.pr-0, .pr0 { padding-right: 0px !important; }
.pr-1, .pr1 { padding-right: 10px !important; }
.pr-2, .pr2 { padding-right: 20px !important; }
.pr-3, .pr3 { padding-right: 30px !important; }
.pr-4, .pr4 { padding-right: 40px !important; }
.pr-5, .pr5 { padding-right: 50px !important; }
.pr-6, .pr6 { padding-right: 60px !important; }
.pr-7, .pr7 { padding-right: 70px !important; }
.pr-8, .pr8 { padding-right: 80px !important; }
.pr-9, .pr9 { padding-right: 90px !important; }
.pr-10, .pr10 { padding-right: 100px !important; }
/* Padding bottom */
.pb-0, .pb0 { padding-bottom: 0px !important; }
.pb-1, .pb1 { padding-bottom: 10px !important; }
.pb-2, .pb2 { padding-bottom: 20px !important; }
.pb-3, .pb3 { padding-bottom: 30px !important; }
.pb-4, .pb4 { padding-bottom: 40px !important; }
.pb-5, .pb5 { padding-bottom: 50px !important; }
.pb-6, .pb6 { padding-bottom: 60px !important; }
.pb-7, .pb7 { padding-bottom: 70px !important; }
.pb-8, .pb8 { padding-bottom: 80px !important; }
.pb-9, .pb9 { padding-bottom: 90px !important; }
.pb-10, .pb10 { padding-bottom: 100px !important; }
/* Padding left */
.pl-0, .pl0 { padding-left: 0px !important; }
.pl-1, .pl1 { padding-left: 10px !important; }
.pl-2, .pl2 { padding-left: 20px !important; }
.pl-3, .pl3 { padding-left: 30px !important; }
.pl-4, .pl4 { padding-left: 40px !important; }
.pl-5, .pl5 { padding-left: 50px !important; }
.pl-6, .pl6 { padding-left: 60px !important; }
.pl-7, .pl7 { padding-left: 70px !important; }
.pl-8, .pl8 { padding-left: 80px !important; }
.pl-9, .pl9 { padding-left: 90px !important; }
.pl-10, .pl10 { padding-left: 100px !important; }

/* Padding Vertical */
.pv-0, .pv0 { padding-top: 0px !important; padding-bottom: 0px !important; }
.pv-1, .pv1 { padding-top: 10px !important; padding-bottom: 10px !important; }
.pv-2, .pv2 { padding-top: 20px !important; padding-bottom: 20px !important; }
.pv-3, .pv3 { padding-top: 30px !important; padding-bottom: 30px !important; }
.pv-4, .pv4 { padding-top: 40px !important; padding-bottom: 40px !important; }
.pv-5, .pv5 { padding-top: 50px !important; padding-bottom: 50px !important; }
.pv-6, .pv6 { padding-top: 60px !important; padding-bottom: 60px !important; }
.pv-7, .pv7 { padding-top: 70px !important; padding-bottom: 70px !important; }
.pv-8, .pv8 { padding-top: 80px !important; padding-bottom: 80px !important; }
.pv-9, .pv9 { padding-top: 90px !important; padding-bottom: 90px !important; }
.pv-10, .pv10 { padding-top: 100px !important; padding-bottom: 100px !important; }
/* Padding Horizontal */
.ph-0, .ph0 { padding-left: 0px !important; padding-right: 0px !important; }
.ph-1, .ph1 { padding-left: 10px !important; padding-right: 10px !important; }
.ph-2, .ph2 { padding-left: 20px !important; padding-right: 20px !important; }
.ph-3, .ph3 { padding-left: 30px !important; padding-right: 30px !important; }
.ph-4, .ph4 { padding-left: 40px !important; padding-right: 40px !important; }
.ph-5, .ph5 { padding-left: 50px !important; padding-right: 50px !important; }
.ph-6, .ph6 { padding-left: 60px !important; padding-right: 60px !important; }
.ph-7, .ph7 { padding-left: 70px !important; padding-right: 70px !important; }
.ph-8, .ph8 { padding-left: 80px !important; padding-right: 80px !important; }
.ph-9, .ph9 { padding-left: 90px !important; padding-right: 90px !important; }
.ph-10, .ph10 { padding-left: 100px !important; padding-right: 100px !important; }

/* Padding */
.p0, .p-0 { padding: 0px !important; }
.p1, .p-1 { padding: 10px !important; }
.p2, .p-2 { padding: 20px !important; }
.p3, .p-3 { padding: 30px !important; }
.p4, .p-4 { padding: 40px !important; }
.p5, .p-5 { padding: 50px !important; }
.p6, .p-6 { padding: 60px !important; }
.p7, .p-7 { padding: 70px !important; }
.p8, .p-8 { padding: 80px !important; }
.p9, .p-9 { padding: 90px !important; }
.p10, .p-10 { padding: 100px !important; }

/* Width */

.w0, .w-0 { width: 0% !important; }
.w1, .w-1 { width: 10% !important; }
.w2, .w-2 { width: 20% !important; }
.w3, .w-3 { width: 30% !important; }
.w4, .w-4 { width: 40% !important; }
.w5, .w-5 { width: 50% !important; }
.w6, .w-6 { width: 60% !important; }
.w7, .w-7 { width: 70% !important; }
.w8, .w-8 { width: 80% !important; }
.w9, .w-9 { width: 90% !important; }
.w10, .w-10 { width: 100% !important; }

/* Heigth */

.h0, .h-0 { height: 0% !important; }
.h1, .h-1 { height: 10% !important; }
.h2, .h-2 { height: 20% !important; }
.h3, .h-3 { height: 30% !important; }
.h4, .h-4 { height: 40% !important; }
.h5, .h-5 { height: 50% !important; }
.h6, .h-6 { height: 60% !important; }
.h7, .h-7 { height: 70% !important; }
.h8, .h-8 { height: 80% !important; }
.h9, .h-9 { height: 90% !important; }
.h10, .h-10 { height: 100% !important; }

a {
  &:link {
  	text-decoration:none;
  }

  &:visited {
  	text-decoration:none;
  }
  &:hover {
  	text-decoration:underline;
  }

  &:active {
  	text-decoration:underline;
  }
}

body {
	padding-top: 40px;
}

.alert {
	margin-top: 40px;
}

li {
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0;
}

li .label {
	display:none;
}

th.keep-left:first-child {
	width:750px;
}

th.keep-left2:first-child {
	width:250px;
}

th.keep-left3:first-child {
	width:550px;
}

.table .pulltoright {
	text-align:right;
}

.section {

 .indent {
	  padding-left:50px;
	  width: 80px;
  }

  &.hover {
  	background: #F5F5F5;
  }

  .admin {
  	display: none;
  }

  &.hover {
    .admin {
    	display: table-cell;
    }

    &.chart .admin {
    	display: table-cell;
    }
  }
}

.well {
  &.section {
    &.hover {
    	background: #D1D1D1;
    }

    &.chart.hover {
    	background-color: #f5f5f5;
    }
  }

  &.info {
  	background-color: #c4e3f3;
  }
  &.response {
    background-color: #96c5de;
  }
}



.row.header {
	padding:18px;
}

.row.top {
	margin-top:25px;
	width:450px;
}

.form-inputs input, .form-inputs textarea {
	width: 775px;
}

.head {
	padding-left:25px;
}

.head2 {
	padding-left:20px;
}

.grey-background {
	width:inherit;
	height:275px;
	background-color: #f5f5f5;
}

.margin-top {
	margin-top:50px;
}

.gap {
	padding-top:50px;
}

.black {
	color:black;
}

.pad1 {
	padding-top:3px;
}

.pad2 {

}

.fillright {
  margin-left:460px;
  margin-top:50px;
  height:525px;
  width:600px;
  position:absolute;
}

.span12.large {
  width:1040px;
}

.alert.small {
  width:390px;
}

#wheelcontainer {
  width:400px;
  height:400px;
  clear:both;
}

#wheel {
  width:400px;
  height:400px;
  clear:both;
}

.outer {
  width:400px;
  height:400px;
  border: 15px solid #e5e5e5;
  margin-bottom:50px;
  border-radius:100%;
  webkit-border-radius:100%;
  moz-border-radius:100%;
  z-index:2;
  .spin {
    z-index:-1;
    .circle {
      margin-top:160px;
      margin-left:162.5px;
      position: absolute;
      width:75px;
      height:75px;
      background-color:#e5e5e5;
      border-radius:100%;
      webkit-border-radius:100%;
      moz-border-radius:100%;
      z-index:2;
    }
    .background {
      width:400px;
      height:400px;
      border-radius:100%;
      webkit-border-radius:100%;
      moz-border-radius:100%;
      background-color:#f5f5f5;
      position: absolute;
      z-index:-2;
    }
    .wheel {
      width:400px;
      height:400px;
      border-radius:100%;
      webkit-border-radius:100%;
      moz-border-radius:100%;
      z-index:1;
      .inner {
        position:relative;
        #wrapper{
          padding-top:170px;
          padding-left:200px;
        }
      }
    }
  }
}

@for $i from 1 through 16 {
  $rotate:360 / $i;
  @for $j from 1 through $i {
    .s#{$j}.w#{$i} {
      width:157.5px;
      height:60px;
      padding-left: 45px;
      position: absolute;
      transform:rotate($rotate * $j + deg);
      -ms-transform:rotate($rotate * $j + deg);
      -webkit-transform:rotate($rotate * $j + deg);
      transform-origin:0% 50%;
      -ms-transform-origin:0% 50%;
      -webkit-transform-origin:0% 50%;
      z-index:1;
      &.box {
        width:157.5px;
        height:60px;
        background-color:#d5d5d5;
        z-index:-1;
      }
      a {
        width:157.5px;
        height:60px;
        display:table-cell;
        text-align:center;
        vertical-align: middle;
        padding-right: 4px;
      }
    }
  }
}

.edit-form {
  width:565px;
}

.hint {
  color:#959595;
}

.btn.btn-top {
  margin-top:5px;
  margin-bottom:20px;
}

.home-text {
  margin-top:-30px;
  font-size:20px;
  line-height:30px;
}

.no-top-margin {
	margin-top:0px !important;
}

.margin-top {
	margin-top:10px;
}

.negative-margin-left {
	margin-left:-20px;
}

.negative-margin-top {
	margin-top:-20px;
}

input[id="_search_words"] {
	width:445px;
}

.user-info {
	width:800px !important;
}

.select {
  width:30px;
}

.paypal {
  margin-bottom: -20px !important;
}
