/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* 
prevents parsererrors rendering

parsererror > h3,
parsererror > div {
	display: none;
} */

a {
  &:link {
  	text-decoration:none;
  }

  &:visited {
  	text-decoration:none;
  }
  &:hover {
  	text-decoration:underline;
  }

  &:active {
  	text-decoration:underline;
  }
}

body {
	padding-top: 40px;
}

.alert {
	margin-top: 40px;
}

th.keep-left:first-child {
	width:750px;
}

th.keep-left2:first-child {
	width:250px;
}

th.keep-left3:first-child {
	width:550px;
}

.table .pulltoright {
	text-align:right;
}

.section {

 .indent {
	  padding-left:50px;
	  width: 80px;
  }
  
  &.hover {
  	background: #F5F5F5;
  }

  .admin {
  	display: none;
  }

  &.hover {
    .admin {
    	display: table-cell;
    }

    &.chart .admin {
    	display: table-cell;
    }
  }
}

.well {
  &.section {
    &.hover {
    	background: #D1D1D1;
    }

    &.chart.hover {
    	background-color: #f5f5f5;
    }
  }

  &.info {
  	background-color: #c4e3f3;
  }
}



.row.header {
	padding:18px;
}

.form-inputs input, .form-inputs textarea {
	width: 775px;
}

.head {
	padding-left:25px;
}

.head2 {
	padding-left:20px;
}

.grey-background {
	width:inherit;
	height:250px;
	background-color: #f5f5f5;
}

.margin-top {
	margin-top:50px;
}

.gap {
	padding-top:50px;
}

.black {
	color:black;
}

.pad1 {
	padding-top:3px;
}

.outer {
  width:525px;
  height:525px;
  border: 15px solid #e5e5e5;
  margin-bottom:50px;
  border-radius:100%;
  webkit-border-radius:100%;
  moz-border-radius:100%;
  .circle {
    margin-top:222.5px;
    margin-left:212.5px;
    position: absolute;
    width:100px;
    height:100px;
    background-color:#e5e5e5;
    border-radius:100%;
    webkit-border-radius:100%;
    moz-border-radius:100%;
  }
  .wheel {
    width:525px;
    height:525px;
    background-color:#f5f5f5;
    border-radius:100%;
    webkit-border-radius:100%;
    moz-border-radius:100%;
    .inner {
      position:relative;
      #wrapper{
        padding-top:50%;
        padding-left:50%;
      }
    }
  }
}

@for $i from 1 through 16 {
  $rotate:360 / $i;
  @for $j from 1 through $i {
    .s#{$j}.w#{$i} {
      padding-left: 50px;
      position: absolute;
      transform:rotate($rotate * $j + deg);
      -ms-transform:rotate($rotate * $j + deg);
      -webkit-transform:rotate($rotate * $j + deg);
      transform-origin:0% 50%;
      -ms-transform-origin:0% 50%;
      -webkit-transform-origin:0% 50%;
    }
  }
}